$color-light-black: #243447;
$color-dark-pink: #c51f5d;
$color-white: #ffffff;
$color-black: #141d26;
$color-gray: #d3d3d3;
$color-red: #ff3838;
$color-blue: #2dccff;
$color-orange: #ffb302;
$color-green: #56f000;
